body{
    background-color:#5454b2;
    display: flex;
    justify-content: center;
    background-image: url(./img/temp\ back.png);
}
.bigdiv{
border: 2px solid white;
    margin-top: 30px;
    padding: 50px 0 50px 0;
    width: 600px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border:  solid rgba(255, 255, 255, 0.3);
}
.mainbody{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgb(28, 60, 28);
}
p{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#inputCelsius{
    padding: 10px 18px 10px 18px;
    border-radius: 5px;
    border: 2px solid  #FFFFFF ;
}    
button{
    margin-top: 5px;
    padding: 7px 75px 7px 75px;
    border-radius: 10px;
    background-color:  rgb(28, 60, 28);
    color:#FFFFFF;
    border: 1px solid  rgb(28, 60, 28);
    margin-left: 2px;
}
